<template>
	<div class="page">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back icon-only">
						<i class="f7-icons">arrow_left</i>
					</a>
				</div>
				<div class="title">{{title}}</div>
			</div>
		</div>
		<div class="page-content">
			<div class="block">
				<h2>Tambah xTABLEx Baru</h2>
				<span>Lengkapi form berikut, kemudian klik tombol `Simpan`</span>
				<form id="formDataxxTABLExx">
					<div class="list">
						<ul>

							<li class="item-content item-input">
								<div class="item-media"><i class="f7-icons">tags</i></div>
								<div class="item-inner">
									<div class="item-title item-floating-label">xField1x</div>
									<div class="item-input-wrap">
										<input type="text" name="xxFIELD1xx">
										<span class="input-clear-button"></span>
									</div>
								</div>
							</li>

							<li class="item-content item-input">
								<div class="item-media"><i class="f7-icons">tags</i></div>
								<div class="item-inner">
									<div class="item-title item-floating-label">xField2x</div>
									<div class="item-input-wrap">
										<input type="text" name="xxFIELD2xx">
										<span class="input-clear-button"></span>
									</div>
								</div>
							</li>

							<li class="item-content item-input">
								<div class="item-media"><i class="f7-icons">tags</i></div>
								<div class="item-inner">
									<div class="item-title item-floating-label">xField3x</div>
									<div class="item-input-wrap">
										<input type="text" name="xxFIELD3xx">
										<span class="input-clear-button"></span>
									</div>
								</div>
							</li>

							<li class="item-content item-input">
								<div class="item-media"><i class="f7-icons">tags</i></div>
								<div class="item-inner">
									<div class="item-title item-floating-label">xField4x</div>
									<div class="item-input-wrap">
										<input type="text" name="xxFIELD4xx">
										<span class="input-clear-button"></span>
									</div>
								</div>
							</li>

							<li>
							</li>
						</ul>
					</div>
				</form>
				<button class="button button-fill button-round button-raised color-blue" @click="simpanForm">Simpan</button>
			</div>
		</div>
	</div>
</template>
<style></style>
<script>
	// script must return component object
	return {
		data: function () {
			return {
				title: 'xTITLEx - Tambah Data'
			}
		},
		methods: {
			simpanForm: function () {
				var app = this.$app;
				var dataPost = app.form.convertToData('#formDataxxTABLExx');

				app.request.post("php/rekam_data_xxTABLExx.php", dataPost, function(responSukses){
					//
					app.dialog.alert(responSukses);
					// console.log('ok');
					// console.log(responSukses);
				}, function(responGagal) {
					//
					// console.log('gagal');
					app.dialog.alert('Gagal menyimpan data<br>'+responGagal);
				});
			},
		},
		on: {
			pageInit: function () {
				// console.log('OK');
			},
			pageAfterOut: function () {
			},
		}
	}
</script>