<template>
	<div class="page">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back icon-only">
						<i class="f7-icons">arrow_left</i>
					</a>
				</div>
				<div class="title">{{title}}</div>
			</div>
		</div>
		<div class="page-content">
			<div class="block">
				<h2>Data xTABLEx</h2>
				<div class="list simple-list data-table">
					<table class="table">
						<thead>
							<tr>
								<td>ID</td>
								<td>xFIELD1x</td>
								<td>xFIELD2x</td>
								<td>xFIELD3x</td>
								<td>xFIELD4x</td>
							</tr>
						</thead>
						<tbody  id="data-xxTABLExx"></tbody>
					</table>
				</div>			
			</div>
		</div>
	</div>
</template>
<style></style>
<script>
	// script must return component object
	return {
		data: function () {
			return {
				title: "xTITLEx - Tampilkan Data"
			}
		},
		methods: {
			ambilData: function() {
				app.request.json("php/tampilkan_data_xxTABLExx.php", {}, function(responSukses){
					$$ = Dom7;
					strTemplate = 
					`
						{{#each this}}
							<tr>
								<td>{{id}}</td>
								<td>{{xxFIELD1xx}}</td>
								<td>{{xxFIELD2xx}}</td>
								<td>{{xxFIELD3xx}}</td>
								<td>{{xxFIELD4xx}}</td>
							</tr>
						{{/each}}
					`;
					compiledTemplate = Template7.compile(strTemplate);
					var htmlResult = compiledTemplate(responSukses);
					$$('#data-xxTABLExx').html(htmlResult)
				}, function(responGagal) {
					app.dialog.alert('Gagal mengambil data');
				});
			},
		},
		on: {
			pageInit: function (e,page) {
				this.ambilData();
			},
			pageAfterOut: function () {
			},
		}
	}
</script>